<!DOCTYPE html>
<html lang="en">
    {{#if description}}
        {{>head baseHref=baseHref pageTitle=(concat title " wanted") pageDesc=description lang="en"}}
    {{/if}}
    {{#unless description}}
        {{>head baseHref=baseHref pageTitle=(concat title " wanted") pageDesc="We believe two heads are always better than one. And a whole team of heads is even better. That’s how we work. With no alpha leaders and no beta teams." lang="en"}}
    {{/unless}}
    <body data-theme="green">
        {{>svgsprite}}
        <div class="container">
            {{>header lang="en" jobId=id}}
            <main class="main ">
                    <section class="mod-jobsdetail">
                        <header class="article-header">
                            <h3 class="h3">{{title}} {{translate 'inclusion' "en"}}</h3>
                            <time class="scopy">{{convertDate date}}</time>
                        </header>
                            <section class="article-body">
                                {{{content}}}
                            </section>
                            {{#if description}}
                                {{>contact contact=contact jobId=id lang="en" description=description}}
                            {{/if}}
                            {{#unless description}}
                                {{>contact contact=contact jobId=id lang="en" description="We believe two heads are always better than one. And a whole team of heads is even better. That’s how we work. With no alpha leaders and no beta teams."}}
                            {{/unless}}
                    </section>
                {{>location lang="en"}}
            </main>
            {{>footer}}
        </div>
    </body>
</html>
