<!DOCTYPE html>
<html lang="en">
    {{>head baseHref=baseHref pageTitle=title pageDesc="some description" lang="en"}}
    <body data-theme="green">
        {{>svgsprite}}
        <div class="container">
            {{>header lang="en"}}
            <main class="main ">
                    <section class="mod-jobsdetail">
                        <header class="article-header">
                            <h3 class="h3">{{title}}</h3>
                            <time class="scopy">{{convertDate date}}</time>
                        </header>
                            <section class="article-body">
                                {{{content}}}
                            </section>
                            {{>contact contact=contact lang="en"}}
                    </section>
                {{>location lang="en"}}
            </main>
            {{>enFooter}}
        </div>
    </body>
</html>
