<!DOCTYPE html>
<html lang="en">
    {{>head baseHref=baseHref pageTitle="SinnerSchrader Jobs - EN Title" pageDesc="some description" lang="en"}}
    <body data-theme="green">
        {{>svgsprite}}
        <div class="container">
            {{>header lang="en"}}
            <main class="main">
                {{>enHero}}
                {{>filter lang="en"}}
                <section class="mod-jobslist">
                    <table>
                        {{>columnHeader lang="en"}}
                        {{#jobs}}
                            {{>listJobDetail job=.}}
                        {{/jobs}}
                    </table>
                </section>
                {{>location lang="en"}}
            </main>
            {{>enFooter}}
        </div>

        <script>
            window.metaData = {{{metaInfos}}};
        </script>
        <script src="./assets/main.js"></script>
    </body>
</html>
