<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body data-theme="green">
        {{>svgsprite}}
        <div class="container">
            {{>header}}
            <main class="main">
                {{>hero}}
                <section class="mod-jobslist">
                    <table>
                        {{>columnHeader}}
                        {{#jobs}}
                            {{>enJobDetail job=.}}
                        {{/jobs}}
                    </table>
                </section>
                {{>location}}
            </main>
            {{>footer}}
        </div>

        <script>
            const metaData = {{{metaInfos}}};
        </script>
        <script src="../assets/main.js"></script>
    </body>
</html>
