/* Attention: This overwrites the existing styles */

.jobs-row ~ tr {
    display: none;
}

.jobs-row.is-open ~ tr {
    display: table-row;
}

.jobs-row .svg-ico--arrow-down,
.jobs-row.is-open .svg-ico--arrow-up {
    display: initial;
}

.jobs-row .svg-ico--arrow-up,
.jobs-row.is-open .svg-ico--arrow-down {
    display: none;
}

.is-hidden {
    display: none;
}

.mod-jobsdetail .article-body h2:first-child {
    margin-top: 0;
}

.aside .copy {
    margin-bottom: 60px;
}