<!DOCTYPE html>
<html lang="de">
{{#if description}}
{{>head baseHref=baseHref pageTitle=title pageDesc=description lang="de"}}
{{/if}}
{{#unless description}}
{{>head baseHref=baseHref pageTitle=title pageDesc="We believe two heads are always better than one. And a whole team of heads is even better. That’s how we work. With no alpha leaders and no beta teams." lang="de"}}
{{/unless}}
<body data-theme="green">
{{>svgsprite}}
<div class="container">
    {{>header lang="de" jobId=id}}
    <main class="main ">
        <section class="mod-jobsdetail">
            <header class="article-header">
                <h3 class="h3">{{title}} {{translate 'inclusion' "de"}}</h3>
                <time class="scopy">{{convertDate date}}</time>
            </header>
            <section class="article-body">
                {{{content}}}
            </section>
            {{>contact contact=contact jobId=id lang="de" description=description}}
        </section>
        {{>location lang="de"}}
    </main>
    {{>footer}}
</div>
</body>
</html>
