<!DOCTYPE html>
<html lang="de">
{{>head baseHref=baseHref pageTitle="SinnerSchrader Jobs - de Title" pageDesc="some description" lang="de"}}
<body data-theme="green">
{{>svgsprite}}
<div class="container">
    {{>header lang="de"}}
    <main class="main">
        {{>enHero}}
<!--        TODO: deHero-->
        {{>filter lang="de"}}
        <section class="mod-jobslist">
            <table>
                {{>columnHeader lang="de"}}
                {{#jobs}}
                {{>listJobDetail job=.}}
                {{/jobs}}
            </table>
        </section>
        {{>location lang="de"}}
    </main>
    {{>footer}}
</div>

<script>
    window.metaData = {{{metaInfos}}};
</script>
<script src="./assets/main.js"></script>
</body>
</html>
