<thead>
    <tr>
        <th class="cell-mobile">Jobs (<span class="js-job-count">0</span> entries)</th>
        <th><a>Jobs<svg class="svg-ico svg-ico--arrow-down"><use xlink:href="#arrow-down"></use></svg></a></th>
        <th><a>Discipline<svg class="svg-ico svg-ico--arrow-down"><use xlink:href="#arrow-down"></use></svg></a></th>
        <th><a>Company<svg class="svg-ico svg-ico--arrow-down"><use xlink:href="#arrow-down"></use></svg></a></th>
        <th><a>Location<svg class="svg-ico svg-ico--arrow-down"><use xlink:href="#arrow-down"></use></svg></a></th>
    </tr>
</thead>
