<thead>
    <tr>
        <th class="cell-mobile">{{translate "columnHeaderJobs" lang}} (<span class="js-job-count">0</span> {{translate "columnHeaderEntries" lang}})</th>
        <th><a>{{translate "columnHeaderJobs" lang}}<svg class="svg-ico svg-ico--arrow-down"><use xlink:href="#arrow-down"></use></svg></a></th>
        <th><a>{{translate "filterDiscipline" lang}}<svg class="svg-ico svg-ico--arrow-down"><use xlink:href="#arrow-down"></use></svg></a></th>
        <th><a>{{translate "filterCompany" lang}}<svg class="svg-ico svg-ico--arrow-down"><use xlink:href="#arrow-down"></use></svg></a></th>
        <th><a>{{translate "filterLocation" lang}}<svg class="svg-ico svg-ico--arrow-down"><use xlink:href="#arrow-down"></use></svg></a></th>
    </tr>
</thead>
