<aside class="aside">
    <h4 class="h4">{{translate "contactTitle" lang}}</h4>
    <p class="copy">
        {{contact.name}}
    </p>
    <h4 class="h4">{{translate "contactSendTo" lang}}</h4>
    <p class="copy">
        {{contact.name}}
        <br> {{contact.level}}
        <br> {{contact.phone}}
        <br>
        <span class="socialperson">
            <a href="mailto:jobs@sinnerschrader.com">Mail</a>
        </span>

        {{#if contact.xing}}
        | <span class="socialperson">
            <a href="{{contact.xing}}">{{translate "contactXing" lang}}</a>
        </span>
        {{/if}}
        {{#if contact.linkedin}}
        | <span class="socialperson">
            <a href="{{contact.linkedin}}">{{translate "contactLinkedIn" lang}}</a>
        </span>
        {{/if}}
    </p>

    <div>{{translate "contactShare" lang}}</div>
    <ul class="socialmedia">
        <li>
            <a href="https://www.xing.com/app/user" target="_blank" rel="noopener noreferrer">
                <svg class="svg-ico" viewBox="0 0 20 20">
                    <use xlink:href="#share-xing"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/shareArticle" target="_blank" rel="noopener noreferrer">
                <svg class="svg-ico" viewBox="0 0 20 20">
                    <use xlink:href="#linked_in"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/share" target="_blank" rel="noopener noreferrer">
                <svg class="svg-ico">
                    <use xlink:href="#twitter"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/" target="_blank" rel="noopener noreferrer">
                <svg class="svg-ico" viewBox="0 0 20 20">
                    <use xlink:href="#facebook"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://sinnerschrader.jobs/en/" target="_blank" rel="noopener noreferrer">
                <svg class="svg-ico">
                    <use xlink:href="#share-link"></use>
                </svg>
            </a>
        </li>
    </ul>
</aside>
