<section class="mod-hero invert" data-theme="green">
    <div class="blend-picture blend" role="presentation">
        <div class="picture-s">
            <div class="motive"
                 style="background-image:url('./assets/images/backgrounds/module_01_hero_palm_careers.jpg');"></div>
        </div>
        <div class="picture-m">
            <div class="motive"
                 style="background-image:url('./assets/images/backgrounds/module_01_hero_lap_careers.jpg');"></div>
        </div>
        <div class="picture-l">
            <div class="motive"
                 style="background-image:url('./assets/images/backgrounds/module_01_hero_desk_careers.jpg');"></div>
        </div>
    </div>
    <p class="h h1">Wir suchen Menschen, die Lösungen suchen.</p>
    <p class="copy">Was uns ausmacht sind Neugier, Mut und Liebe zum Handwerk.
        Unser Fokus ist Technik, aber unser Denken kennt keine Disziplinen.</p>
</section>
<section class="mod-jobscopy gradient">

    <p>
        <strong>Wir sind ein Haufen Nerds.</strong>
        Wir nutzen jede Chance, die Dinge neu zu denken. Wir sind
        begeistert, fast ein bisschen besessen, vom Tempo des technischen Wandels. Sein ungewisser Pfad, seine Offenheit
        mag für Manchen bedrohlich wirken – nicht für uns.<br>
        Wir sind Entdecker.<br>
        Entdecker in allen Bereichen: Strategie, Design, Development. Unser Ziel sind Produkte, die die Menschen
        erreichen. Den Weg dorthin gehen wir mit Leidenschaft, mit Empathie und Freude an Herausforderungen..<br>
        Wir glauben: Wenn man alleine schon gut ist, wird man noch besser im Team. Hierarchien halten wir schön flach.
        Keine Alpha-Männchen, keine B-Ware.
    </p>

    <blockquote class="h2 h2-1">Klingt nach dir?<br>Dann komm zu uns!</blockquote>
</section>


