<section class="mod-hero invert" data-theme="green">
    <div class="blend-picture blend" role="presentation">
        <div class="picture-s">
            <div class="motive"
                 style="background-image:url('./assets/images/backgrounds/module_01_hero_palm_careers.jpg');"></div>
        </div>
        <div class="picture-m">
            <div class="motive"
                 style="background-image:url('./assets/images/backgrounds/module_01_hero_lap_careers.jpg');"></div>
        </div>
        <div class="picture-l">
            <div class="motive"
                 style="background-image:url('./assets/images/backgrounds/module_01_hero_desk_careers.jpg');"></div>
        </div>
    </div>
    <p class="h h1">We love people who love building things.</p>
    <p class="copy">Embracing courage, curiosity and dedication to craftmanship in technology and across all
        disciplines.</p>
</section>
<section class="mod-jobscopy gradient">
    <p>
        <strong>We are a bunch of digital nerds.</strong>
        We like to rethink things. As a matter of fact, everything. We fell in love with the speed of technological
        change. The uncertainty of things. The adventure of exploration. Yes, it can be rather daunting for some,
        but for us, we like to dive in head first.<br>
        Whether we love to strategise, design or code, we all speak one common language – a language of passion, empathy
        and challenge. Simply because we want to build products that matter. For now. For later.<br>
        We believe two heads are always better than one. And a whole team of heads is even better. That’s how we work.
        With no alpha leaders and no beta teams.
    </p>
    <blockquote class="h2 h2-1">Sounds like you?<br>Join us!</blockquote>
</section>
