en


BEISPIEL FUER TRANSLATION

{{translate "Ber" job.language}}
<tbody id="job-{{job.id}}">
    <tr class="jobs-row">
        <td class="cell-mobile">
            <a href="product-designer-ux-fmx">
                <div>{{job.company}}</div>
                <div class="strong">{{job.title}}</div>
                <div>{{job.location}}</div>
            </a>
        </td>
        <td class="jobs--title"><a>{{job.title}}</a></td>
        <td class="jobs--area">{{job.discipline}}</td>
        <td class="jobs--company">{{job.company}}</td>
        <td class="jobs--location">{{job.location}} <svg class="svg-ico svg-ico--arrow-up"><use xlink:href="#arrow-down"></use></svg></td>
    </tr>
    <tr>
        <td colspan="5">
            <section class="mod-jobsdetail is-inner">
                <section class="article-body">
                    <h3>{{job.title}}</h3>
                    <div>
                        {{{job.content}}}
                    </div>
                </section>
                {{>contact contact=job.contact}}
        </section>
        </td>
    </tr>
</tbody>
