<tbody id="job-{{job.id}}">
    <tr class="jobs-row">
        <td class="jobs--title">{{job.title}}</td>
        <td class="jobs--area">{{job.discipline}}</td>
        <td class="jobs--company">{{job.company}}</td>
        <td class="jobs--location">{{job.location}} <svg class="svg-ico svg-ico--arrow-up"><use xlink:href="#arrow-down"></use></svg></td>
    </tr>
    <tr style="display: none">
        <td colspan="5">
            <section class="mod-jobsdetail is-inner">
                <section class="article-body">
                    <h3>{{job.title}}</h3>
                    <div>
                        {{{job.content}}}
                    </div>
                </section>
                {{>contact contact=job.contact}}
            </section>
        </td>
    </tr>
</tbody>
