<div id="filters" class="anchor"></div>
<section class="mod-jobsfilter anchor">
    <div class="filter-wrap">
        <div class="filter js-filter--level filter--level">
            <div class="js-filter-label filter-label">{{translate "filterLevel" lang}}
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="js-filter-item filter-item" data-value="All"><a class="is-active"><span>{{translate "All" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Internships"><a class=""><span>{{translate "Internships" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Professionals"><a class=""><span>{{translate "Professionals" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Students"><a class=""><span>{{translate "Students" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Young Professionals"><a class=""><span>{{translate "Young Professionals" lang}}</span></a></li>
            </ul>
        </div>
        <div class="filter js-filter--discipline filter--discipline">
            <div class="js-filter-label filter-label">{{translate "filterDiscipline" lang}}
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="js-filter-item filter-item" data-value="All"><a class="is-active"><span>{{translate "All" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Account"><a class=""><span>{{translate "Account" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Creative"><a class=""><span>{{translate "Creative" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Strategy"><a class=""><span>{{translate "Strategy" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Tech"><a class=""><span>{{translate "Tech" lang}}</span></a></li>
            </ul>
        </div>
        <div class="filter js-filter--company filter--company">
            <div class="js-filter-label filter-label">{{translate "filterCompany" lang}}
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="js-filter-item filter-item" data-value="All"><a class="is-active"><span>{{translate "All" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="SinnerSchrader"><a class=""><span>{{translate "SinnerSchrader" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Commerce"><a class=""><span>{{translate "Commerce" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Swipe"><a class=""><span>{{translate "Swipe" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Content"><a class=""><span>{{translate "Content" lang}}</span></a></li>
            </ul>
        </div>
        <div class="filter js-filter--location filter--location">
            <div class="js-filter-label filter-label">{{translate "filterLocation" lang}}
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="js-filter-item filter-item" data-value="All"><a class="is-active"><span>{{translate "All" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Ber"><a class=""><span>{{translate "Ber" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Fra"><a class=""><span>{{translate "Fra" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Ham"><a class=""><span>{{translate "Ham" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Muc"><a class=""><span>{{translate "Muc" lang}}</span></a></li>
                <li class="js-filter-item filter-item" data-value="Pra"><a class=""><span>{{translate "Pra" lang}}</span></a></li>
            </ul>
        </div>
    </div>
    <div class="filter-reset" style="display: none;">Reset filters</div>
</section>
