<div id="filters" class="anchor"></div>
<section class="mod-jobsfilter anchor">
    <div class="filter-wrap">
        <div class="filter js-filter--level filter--level">
            <div class="js-filter-label filter-label">{{translate "filterLevel" lang}}
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="js-filter-item filter-item" data-value="All"><button class="is-active"><span>{{translate "All" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Internships"><button><span>{{translate "Internships" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Professionals"><button><span>{{translate "Professionals" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Students"><button><span>{{translate "Students" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Young Professionals"><button><span>{{translate "Young Professionals" lang}}</span></button></li>
            </ul>
        </div>
        <div class="filter js-filter--discipline filter--discipline">
            <div class="js-filter-label filter-label">{{translate "filterDiscipline" lang}}
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="js-filter-item filter-item" data-value="All"><button class="is-active"><span>{{translate "All" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Account"><button class=""><span>{{translate "Account" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Creative"><button><span>{{translate "Creative" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Strategy"><button><span>{{translate "Strategy" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Tech"><button><span>{{translate "Tech" lang}}</span></button></li>
            </ul>
        </div>
        <div class="filter js-filter--location filter--location">
            <div class="js-filter-label filter-label">{{translate "filterLocation" lang}}
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="js-filter-item filter-item" data-value="All"><button class="is-active"><span>{{translate "All" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Ber"><button><span>{{translate "Ber" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Fra"><button><span>{{translate "filterFra" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Ham"><button><span>{{translate "Ham" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Muc"><button><span>{{translate "Muc" lang}}</span></button></li>
                <li class="js-filter-item filter-item" data-value="Pra"><button><span>{{translate "Pra" lang}}</span></button></li>
            </ul>
        </div>
    </div>
    <div class="filter-reset" style="display: none;">Reset filters</div>
</section>
