<div id="filters" class="anchor"></div>
<section class="mod-jobsfilter anchor">
    <div class="filter-wrap">
        <div class="filter filter--level">
            <div class="filter-label">Level
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="filter-item" data-value="All"><a class="is-active"><span>All</span></a></li>
                <li class="filter-item" data-value="Internships"><a class=""><span>Internships</span></a></li>
                <li class="filter-item" data-value="Professionals"><a class=""><span>Professionals</span></a></li>
                <li class="filter-item" data-value="Students"><a class=""><span>Students</span></a></li>
                <li class="filter-item" data-value="Young Professionals"><a class=""><span>Young Professionals</span></a></li>
            </ul>
        </div>
        <div class="filter filter--discipline">
            <div class="filter-label">Discipline
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="filter-item" data-value="All"><a class="is-active"><span>All</span></a></li>
                <li class="filter-item" data-value="Account"><a class=""><span>Account Management</span></a></li>
                <li class="filter-item" data-value="Creative"><a class=""><span>Creative</span></a></li>
                <li class="filter-item" data-value="Strategy"><a class=""><span>Strategy</span></a></li>
                <li class="filter-item" data-value="Tech"><a class=""><span>Tech</span></a></li>
            </ul>
        </div>
        <div class="filter filter--company">
            <div class="filter-label">Company
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="filter-item" data-value="All"><a class="is-active"><span>All</span></a></li>
                <li class="filter-item" data-value="SinnerSchrader"><a class=""><span>SinnerSchrader</span></a></li>
                <li class="filter-item" data-value="Commerce"><a class=""><span>SinnerSchrader Commerce</span></a></li>
                <li class="filter-item" data-value="Swipe"><a class=""><span>SinnerSchrader Swipe</span></a></li>
            </ul>
        </div>
        <div class="filter filter--location">
            <div class="filter-label">Location
                <svg class="svg-ico svg-ico--arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <ul class="filter-items">
                <li class="filter-item" data-value="All"><a class="is-active"><span>All</span></a></li>
                <li class="filter-item" data-value="Ber"><a class=""><span>Berlin</span></a></li>
                <li class="filter-item" data-value="Fra"><a class=""><span>Frankfurt/Main</span></a></li>
                <li class="filter-item" data-value="Ham"><a class=""><span>Hamburg</span></a></li>
                <li class="filter-item" data-value="Muc"><a class=""><span>München</span></a></li>
                <li class="filter-item" data-value="Pra"><a class=""><span>Prague</span></a></li>
            </ul>
        </div>
    </div>
    <div class="filter-reset" style="display: none;">Reset filters</div>
</section>
