<footer class="footer">
    <section class="mod-links">
        <div class="conf">
            <h2 class="h h4">Conferences</h2>
            <a class="conf-logo" href="https://nextconf.eu/" rel="noopener noreferrer" target="_blank"><img
                    height="40" src="/static/io/images/logos/next.svg" title="Next Conf EU" width="102"></a>
            <a class="conf-logo" href="https://www.jsconf.eu" rel="noopener noreferrer" target="_blank"><img
                    height="40" src="/static/io/images/logos/js.svg" title="JSConf EU" width="40"></a>
        </div>
        <ul class="linklist">
            <li class="linklist-item">
                <a class="linklist-link" href="https://www.sinnerschrader.com/contact/" rel="noreferrer">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="/static/io/icons/sprite.svg#arrow"></use>
                    </svg>
                    Contact</a>
            </li>
            <li class="linklist-item">
                <a class="linklist-link" href="https://www.sinnerschrader.com/imprint/" rel="noreferrer">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="/static/io/icons/sprite.svg#arrow"></use>
                    </svg>
                    Imprint</a>
            </li>
            <li class="linklist-item">
                <a class="linklist-link" href="/data-policy/" rel="noreferrer">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="/static/io/icons/sprite.svg#arrow"></use>
                    </svg>
                    Data Policy</a>
            </li>
            <li class="linklist-item">
                <a class="linklist-link" href="https://github.com/sinnerschrader/sinnerschrader-website"
                   rel="noreferrer">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="/static/io/icons/sprite.svg#arrow"></use>
                    </svg>
                    Improve this site</a>
            </li>
        </ul>
    </section>
    <section class="mod-follow invert">
        <h2 class="h xscopy">Follow SinnerSchrader</h2>
        <ul class="smn">
            <li class="smn-item">
                <a class="network" href="https://twitter.com/sinnerschrader" rel="noopener noreferrer" target="_blank"
                   title="Follow SinnerSchrader on Twitter">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="/static/io/icons/sprite.svg#twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="smn-item">
                <a class="network" href="https://www.facebook.com/SinnerSchrader" rel="noopener noreferrer"
                   target="_blank" title="Like SinnerSchrader on Facebook">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="/static/io/icons/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="smn-item">
                <a class="network" href="https://www.linkedin.com/company/sinnerschrader" rel="noopener noreferrer"
                   target="_blank" title="Connect with SinnerSchrader on LinkedIn">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="/static/io/icons/sprite.svg#linked_in"></use>
                    </svg>
                </a>
            </li>
            <li class="smn-item">
                <a class="network" href="https://dribbble.com/S2Creatives" rel="noopener noreferrer" target="_blank"
                   title="Follow S2Creative on dribbble">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="/static/io/icons/sprite.svg#dribbble"></use>
                    </svg>
                </a>
            </li>
            <li class="smn-item">
                <a class="network" href="https://medium.com/still-day-one" rel="noopener noreferrer" target="_blank"
                   title="Follow SinnerSchrader on Medium">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="/static/io/icons/sprite.svg#medium"></use>
                    </svg>
                </a>
            </li>
            <li class="smn-item">
                <a class="network" href="https://github.com/sinnerschrader/" rel="noopener noreferrer" target="_blank"
                   title="Follow SinnerSchrader on github">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="/static/io/icons/sprite.svg#github"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </section>
</footer>
