<head>
    <base href="{{baseHref}}">
    <link rel="canonical" href="https://sinnerschrader.jobs">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="description" content="{{pageDesc}}">
    <meta name="language" content="{{lang}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">
    <meta property="fb:page_id" content="358531227139">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{pageDesc}}">
    <meta property="og:url" content="{{baseHref}}">
    <meta property="og:image" content="{{baseHref}}/assets/images/sinnerschrader.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{baseHref}}">
    <meta name="twitter:site" content="@sinnerschrader">
    <meta name="twitter:creator" content="@sinnerschrader">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{pageDesc}}">
    <meta name="twitter:image" content="{{baseHref}}/assets/images/sinnerschrader_square.png">

    <link rel="preconnect" href="https://sinnerschrader.com">
    <link rel="preconnect" href="https://sinnerschrader.news">
    <link rel="icon" href="./assets/images/favicons/48x48.png" sizes="48x48">
    <link rel="icon" href="./assets/images/favicons/96x96.png" sizes="96x96">
    <link rel="icon" href="./assets/images/favicons/192x192.png" sizes="192x192">
    <link rel="shortcut icon" href="./assets/images/favicons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/old-css.css" media="screen,print">
    <link rel="stylesheet" href="https://sinnerschrader.jobs/static/io/css/fonts.4afd8d3f22f4.css" media="screen,print">
    <link rel="stylesheet" href="./assets/styles.css" media="screen,print">

    <title>{{pageTitle}}</title>
</head>
