<section class="mod-hero invert" data-theme="green">
    <p class="h h1">{{translate "heroH1" lang}}</p>
    <p class="copy">{{translate "heroH1Copy" lang}}</p>
</section>
<section class="mod-jobscopy gradient">
    <p>
        <strong>{{translate "heroStrong" lang}}</strong>
        {{translate "heroCopyPart1" lang}}<br>
        {{translate "heroCopyPart2" lang}}<br>
        {{translate "heroCopyPart3" lang}}<br>
        {{translate "heroCopyPart4" lang}}
    </p>
    <blockquote class="h2 h2-1">{{translate "heroH2Part1" lang}}<br>{{translate "heroH2Part2" lang}}</blockquote>
</section>
