<tbody id="job-{{job.id}}" class="js-job">
    <tr class="js-jobs-row jobs-row">
        <td class="cell-mobile">
            <a href="./{{detailUrl job.id}}">

                <div class="strong">{{job.title}} {{translate "inclusion" job.language}}</div>
                <div>{{ translate job.location job.language }}</div>
            </a>
        </td>
        <td class="jobs--title">{{job.title}} {{translate "inclusion" job.language}}</td>
        <td class="jobs--area">{{ translate job.discipline job.language }}</td>
        <td class="jobs--location">{{ translate job.location job.language }}
            <svg class="svg-ico svg-ico--arrow-down"><use xlink:href="#arrow-down"></use></svg>
            <svg class="svg-ico svg-ico--arrow-up"><use xlink:href="#arrow-down"></use></svg>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <section class="mod-jobsdetail is-inner">
                <header class="article-header">
                    <h3 class="h3">{{job.title}} {{translate "inclusion" job.language}}</h3>
                    <time class="scopy">{{ convertDate job.date }}</time>
                </header>
                <section class="article-body">
                    <div>
                        {{{job.content}}}
                    </div>
                </section>

                {{#if job.description}}
                    {{>contact contact=job.contact jobId=job.id lang=job.language  description=job.description}}
                {{/if}}
                {{#unless job.description}}
                    {{>contact contact=job.contact jobId=job.id lang=job.language  description="We believe two heads are always better than one. And a whole team of heads is even better. That’s how we work. With no alpha leaders and no beta teams."}}
                {{/unless}}
            </section>
        </td>
    </tr>
</tbody>
