/* Attention: This overwrites the existing styles */

.jobs-row ~ tr {
    display: none;
}

.jobs-row.is-open ~ tr {
    display: table-row;
}

.jobs-row .svg-ico--arrow-down,
.jobs-row.is-open .svg-ico--arrow-up {
    display: initial;
}

.jobs-row .svg-ico--arrow-up,
.jobs-row.is-open .svg-ico--arrow-down {
    display: none;
}

.is-hidden {
    display: none;
}

@media screen and (min-width:1024px) {
    .mod-jobsfilter .filter--discipline,
    .mod-jobslist .jobs--area {
        width: 250px;
    }
}