name: Publish Articles on dev.to
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 12.x

      - name: Set env vars
        run: |
          if test -n "$GITHUB_HEAD_REF"; \
            then echo "BRANCH_NAME=${GITHUB_HEAD_REF##*/}" >> $GITHUB_ENV; \
            else echo "BRANCH_NAME=${GITHUB_REF##*/}" >> $GITHUB_ENV; \
          fi
          echo "YARN_CACHE_DIR=$(yarn cache dir)" >> $GITHUB_ENV

      - name: Yarn cache
        uses: actions/cache@v2.1.1
        with:
          path: ${{ env.YARN_CACHE_DIR }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install
        run: yarn --frozen-lockfile

      - name: build sinnerschrader career pages

        run: |
          yarn build;
          git add .;
          git commit -m"auto generated docs/";
          git push;
